<div class="container-fluid">
  <div class="row">
    <%= column_do do %>
      <%= render 'shared/breadcrumbs', links: [
        { name: "Blog Index", url: blogs_path },
      ] %>
    <% end %>
  </div>
  <div class="row">
    <%= column_do do %>
      <% @blogs.each do |b| %>
        <%= link_to b.name, b %>
      <% end %>
    <% end %>
  </div>
</div>
