<div class="box box-category">
  <div class="title"><%= link_to dashboard_category.name, dashboard_category %></div>
  <div class="content">
    <%= render dashboard_category.forums.limit 5 %>
  </div>
</div>
