<div class="container-fluid">
  <div class="row">
    <%= column_do do %>
      <h1>Admin Dashboard</h1>
      <ul>
        <li><%= link_to "Global Settings", admin_global_settings_path, 'data-no-turbolink' => true %></li>
      </ul>
    <% end %>
  </div>
</div>


