<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= render 'shared/breadcrumbs', links: [
        { name: "Forum", url: root_path },
        { name: @forum.dashboard_category.name, url: @forum.dashboard_category },
        { name: @forum.name, url: @forum },
        { name: "New topic", url: nil },
      ] %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1>Creating a new topic</h1>
      <%= render "topics/new_form" %>
    </div>
  </div>
</div>
