<div class="container-fluid">
  <div class="row">
    <%= column_do do %>
      <%= render 'shared/breadcrumbs', links: [
        { name: "Forum", url: root_path },
        { name: @topic.forum.dashboard_category.name, url: @topic.forum.dashboard_category },
        { name: @topic.forum.name, url: @topic.forum },
        { name: "New topic", url: nil },
      ] %>
    <% end %>
  </div>
  <div class="row">
    <%= column_do do %>
      <h1>Creating a new topic</h1>
      <%= render "topics/new_form" %>
    <% end %>
  </div>
</div>
