<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"></div>
  </div>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-1"></div>
    <div class="col-md-3" id="sidebar">
      <div class="well latest">
        <strong>Latest Blog Posts</strong>
        <ol>
          <% policy_scope(BlogPost).where(published: true).each do |bp| %>
            <li>
              <%= link_to bp.name, [bp.blog, bp] %>
              <em> by <%= bp.user.name %></em>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
