<ol class="breadcrumb box box-breadcrumbs"><% links[0..-2].each do |l|%>
  <li>
    <% if l[:url] %>
      <%= link_to l[:name], l[:url] %>
    <% else %>
      <%= l[:name] %>
    <% end %>
  </li>
<% end %></ol>
