<div class="container">
  <div class="row">
    <%= column_do do %>
      <%= render 'shared/breadcrumbs', links: [
        { name: "Forum", url: root_path },
        { name: @post.topic.forum.dashboard_category.name, url: @post.topic.forum.dashboard_category },
        { name: @post.topic.forum.name, url: @post.topic.forum },
        { name: @post.topic.name, url: @post.topic },
        { name: "New Post", url: nil },
      ] %>
    <% end %>
  </div>
  <div class="row">
    <%= column_do do %>
      <h1>Creating a new post</h1>
      <%= render 'posts/new_form' %>
    <% end %>
  </div>
</div>
