<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= render 'shared/breadcrumbs', links: [
        { name: "Forum", url: root_path },
        { name: @category.name, url: @category },
      ] %>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="well"><%= @category.name %></div>
      <%= render @category.forums %>
    </div>
  </div>
</div>
