
// Primary Colors of the site

$primary-green: #588C73;
$primary-yellow: #F2E393;
$primary-orange: #F2AE72;
$primary-red: #D96459;
$primary-bordeau: #8C4646;

$secondary-yellow: #F5EECA;

$primary-border-color: darken($primary-bordeau, 10);

$gray: #AAA;
$darkgray: #222;
