
body {
  padding-top: 70px;
}

.form-login {
  padding: 10px 30px 0 30px;
  min-width: 250px;

  .bg-warning {
    margin-left: -15px;
    margin-right: -15px;

    padding: 6px 15px 6px 15px;
  }
}

.field_with_errors input {
  border-color: $brand-warning;

  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

form ul.errors {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  padding: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  background-color: $brand-warning;
}
