// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.latest {
  padding-top: 0.5em;
  strong {
    display: block;
    margin-bottom: 0.5em;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
