.navbar-wyvern {
    $border-color: darken($primary-bordeau, 10);

    background-color: $primary-bordeau;
    border-color: $border-color;

    .nav > li > a, a {
        color: $primary-yellow;

        &:hover, &:focus {
            background-color: $secondary-yellow;
            color: $primary-bordeau;
        }
    }

    .nav .open > a {
        background-color: $secondary-yellow;
        color: $primary-bordeau;
    }

    .dropdown-menu {
        background-color: $secondary-yellow;
        border-color: $border-color;
        border-top: none;

        > li > a:hover, > li > a:focus {
          background-color: $primary-bordeau;
          color: $primary-yellow;
        }
    }
}
