// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile {
  .details {
    line-height: 200px;
    position: relative;

    .avatar {
      border: 1px solid $gray;
      border-radius: 5px;
      display: inline-block;
      max-width: 200px;
      max-height: 200px;
    }

    .name {
      font-size: 5rem;
    }

    .btn-group {
      position: absolute;
      top: 5px;
      right: 15px;
    }
  }
  .banner .banner-img {
    display: block;
    height: 200px;
    background-position: 50%;
    background-repeat: no-repeat;
  }
}

.user-mention {
  .details {
    line-height: 50px;
    position: relative;
    width: 244px;

    .avatar {
      border: 1px solid $gray;
      border-radius: 5px;
      display: inline-block;
      max-width: 50px;
      max-height: 50px;
    }

    .name {
      font-size: 2rem;
    }

    .btn-group {
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}
